In [1]:
# Import Pandas and NumPy.
import pandas as pd
import numpy as np

In [2]:
# Load the excel data using pd.read_excel.
movies = pd.read_excel('movies_merge.xlsx')

# Load the csv data using pd.read_csv.
ott = pd.read_csv('ott_merge.csv')

In [3]:
# Data imported correctly?
print(movies.columns)
print(movies.shape)
print(ott.columns)
print(ott.shape)

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')
(16744, 11)
Index(['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+'], dtype='object')
(16744, 5)

In [6]:
# Merge the two DataFrames.
movie_ott = pd.merge(movies, ott, how='left', on = 'ID')

In [7]:
# DataFrames merged correctly?
print(movie_ott.columns)
print(movie_ott.shape)

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+'],
      dtype='object')
(16744, 15)

In [8]:
# Determine the runtime of each movie.
movie_ott_runtime = movie_ott[['ID', 'Runtime', 'Genres']]

# View the output.
movie_ott_runtime

          ID  Runtime                            Genres
0          1    148.0  Action,Adventure,Sci-Fi,Thriller
1          2    136.0                     Action,Sci-Fi
2          3    149.0           Action,Adventure,Sci-Fi
3          4    116.0           Adventure,Comedy,Sci-Fi
4          5    161.0                           Western
...      ...      ...                               ...
16739  16740    120.0      Comedy,Family,Fantasy,Horror
16740  16741     90.0              Comedy,Family,Sci-Fi
16741  16742      NaN                       Documentary
16742  16743      NaN                       Documentary
16743  16744     32.0          Documentary,Short,Family

[16744 rows x 3 columns]

In [9]:
# Add 60 seconds or 1 minute to runtime.
movie_ott_runtime['Runtime'].add(1)

0        149.0
1        137.0
2        150.0
3        117.0
4        162.0
         ...
16739    121.0
16740     91.0
16741      NaN
16742      NaN
16743     33.0
Name: Runtime, Length: 16744, dtype: float64

In [11]:
# Create a new column with documentaries.
movie_ott_runtime['Gen_doc'] = np.where(movie_ott_runtime['Genres'].str.contains('Documentary'),
                                      'Documentary', 'Not Documentary')

# View the DataFrame.
movie_ott_runtime

C:\Users\opanj\AppData\Local\Temp\ipykernel_16396\3710624897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ott_runtime['Gen_doc'] = np.where(movie_ott_runtime['Genres'].str.contains('Documentary'),

          ID  Runtime                            Genres          Gen_doc
0          1    148.0  Action,Adventure,Sci-Fi,Thriller  Not Documentary
1          2    136.0                     Action,Sci-Fi  Not Documentary
2          3    149.0           Action,Adventure,Sci-Fi  Not Documentary
3          4    116.0           Adventure,Comedy,Sci-Fi  Not Documentary
4          5    161.0                           Western  Not Documentary
...      ...      ...                               ...              ...
16739  16740    120.0      Comedy,Family,Fantasy,Horror  Not Documentary
16740  16741     90.0              Comedy,Family,Sci-Fi  Not Documentary
16741  16742      NaN                       Documentary      Documentary
16742  16743      NaN                       Documentary      Documentary
16743  16744     32.0          Documentary,Short,Family      Documentary

[16744 rows x 4 columns]

In [13]:
# Determine original runtime.
movie_ott_runtime[['ID', 'Runtime']]

          ID  Runtime
0          1    148.0
1          2    136.0
2          3    149.0
3          4    116.0
4          5    161.0
...      ...      ...
16739  16740    120.0
16740  16741     90.0
16741  16742      NaN
16742  16743      NaN
16743  16744     32.0

[16744 rows x 2 columns]

In [14]:
# Subtract 0.01 from runtime.
movie_ott_runtime['Runtime'].subtract(0.01)

0        147.99
1        135.99
2        148.99
3        115.99
4        160.99
          ...
16739    119.99
16740     89.99
16741       NaN
16742       NaN
16743     31.99
Name: Runtime, Length: 16744, dtype: float64

In [15]:
# Add 60 seconds or one minute with lambda function.
movie_ott['Runtime'] = movie_ott['Runtime'].apply(lambda x: x + 1)

# View output
movie_ott['Runtime']

0        149.0
1        137.0
2        150.0
3        117.0
4        162.0
         ...
16739    121.0
16740     91.0
16741      NaN
16742      NaN
16743     33.0
Name: Runtime, Length: 16744, dtype: float64

In [16]:
# Subtract 0.01 from runtime with lamda function.
movie_ott['Runtime'] = movie_ott_runtime['Runtime'].apply(lambda x: x - 0.01)

# View output
movie_ott['Runtime']

0        147.99
1        135.99
2        148.99
3        115.99
4        160.99
          ...
16739    119.99
16740     89.99
16741       NaN
16742       NaN
16743     31.99
Name: Runtime, Length: 16744, dtype: float64