In [1]:
# Import libraries.
import pandas as pd
import requests

# Create variable to store the URL.
r = requests.get(url='https://api.covid19api.com/summary', 
headers={'Accept': 'application/json'})

# Check the status_code.
if r.status_code == 200:
    print('SUCCESS')
    data = r.json()
else:
    print('FAILURE')

# Create variable to store the DataFrame.
country_summary = pd.DataFrame()

# Create variable to store the countries.
countries = data['Countries']

for country in range(0, len(countries)):
       stats = pd.DataFrame({
         'ID': countries[country]['ID'],
         'Country': countries[country]['Country'],
         'NewConfirmed': countries[country]['NewConfirmed'],
         'TotalConfirmed': countries[country]['TotalConfirmed'],
         'NewDeaths': countries[country]['NewDeaths'],
         'TotalDeaths': countries[country]['TotalDeaths'],
         'NewRecovered': countries[country]['NewRecovered'],
         'TotalRecovered': countries[country]['TotalRecovered'],
         'Date': countries[country]['Date']},
index=[country])

# Create variable to combine the data with concat().
country_summary = pd.concat([country_summary, stats])

# View the output.
country_summary.head()

SUCCESS

,ID,Country,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date
196,65f072a6-b590-46f0-aee1-3a9042572085,Zimbabwe,0,257749,0,5604,0,0,2022-10-13T04:57:24.295Z

In [2]:
# Install packaging.
!pip install packaging

Requirement already satisfied: packaging in c:\users\opanj\anaconda3\lib\site-packages (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\opanj\anaconda3\lib\site-packages (from packaging) (3.0.4)

In [3]:
# Import necessary libraries.
import packaging
import os

# Determine the working directory.
os.getcwd()

'C:\\Users\\opanj'

In [5]:
# Name of the directory you want to create.
directory = 'covid19'

# Parent path of directory as returned in the previous code snippet.
parent_dir = 'C:\\Users\\opanj'

# Path - specify the path for Jupyter Notebook.
path = os.path.join(parent_dir, directory)

# Mode - standard mode code.
mode = 0o666

# pPut everything together.
os.mkdir(path, mode)

# Determine if you have created the directory.
print("Directory '% s' created" % directory)

Directory 'covid19' created

In [6]:
%%writefile ./covid19/get_data.py

import pandas as pd
import requests


def country_summary():
    """ obtain covid19 summary data by country """

    # make the get request
    r = requests.get(url='https://api.covid19api.com/summary', headers={'Accept': 'application/json'})

    # if the get request is successful parse the response as a python dict
    if r.status_code == 200:
        print("SUCCESS")
        data = r.json()
    else:
        print("FAILURE")

    # This is where we will store the final data.
    country_summary = pd.DataFrame()

    # Extract country summaries.
    countries = data['Countries']

    for country in range(0, len(countries)):
       
        stats = pd.DataFrame({
            'ID': countries[country]['ID'],
          'Country': countries[country]['Country'],
          'NewConfirmed': countries[country]['NewConfirmed'],
          'TotalConfirmed': countries[country]['TotalConfirmed'],
          'NewDeaths': countries[country]['NewDeaths'],
          'TotalDeaths': countries[country]['TotalDeaths'],
          'NewRecovered': countries[country]['NewRecovered'],
          'TotalRecovered': countries[country]['TotalRecovered'],
          'Date': countries[country]['Date']},
      index=[country])

        # Combine the data.
        country_summary = pd.concat([country_summary, stats])

    return country_summary

Writing ./covid19/get_data.py

In [7]:
from covid19 import get_data

df = get_data.country_summary()

df.head()

SUCCESS

,ID,Country,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date
0,2528fd5b-3839-44b1-aa32-5ed1327fcee5,Afghanistan,157,200626,0,7807,0,0,2022-10-13T04:57:24.295Z
1,ad11929c-c427-49a8-8d96-906545444c2b,Albania,31,332534,1,3590,0,0,2022-10-13T04:57:24.295Z
2,add89f83-344b-4c46-a96e-c01ebf83e818,Algeria,3,270716,0,6881,0,0,2022-10-13T04:57:24.295Z
3,e7d98167-0c72-45e4-91b9-cc113ad07b00,Andorra,0,46275,0,155,0,0,2022-10-13T04:57:24.295Z
4,039ce2bb-9692-4aa8-ad56-009e63b19db2,Angola,0,103131,0,1917,0,0,2022-10-13T04:57:24.295Z

In [8]:
from covid19 import get_data

df = get_data.country_summary()

df[df['NewConfirmed'] == 0]['Country']

SUCCESS

3                  Andorra
4                   Angola
5               Antarctica
6      Antigua and Barbuda
7                Argentina
              ...
184                 Uganda
191                Vanuatu
194                  Yemen
195                 Zambia
196               Zimbabwe
Name: Country, Length: 93, dtype: object