In [1]:
# Integer vs float data types.
value_a = 1299
value_b = 10.29

print(type(value_a))
print(type(value_b))

<class 'int'>
<class 'float'>

In [2]:
# String data type.
a = "This is a string value"
b = 'This is a string with single quotes'

print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [3]:
# Boolean data type.
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [4]:
# Create a variable.
n = 300

# View the variable with the print() function.
print(n)

300

In [5]:
# Create three variables.
var_a = 100 
var_b = 100.05 
name = 'Soni' 

print(var_a, var_b, name)

100 100.05 Soni

In [6]:
# Print a single variable.
print(var_a)
print(var_b)
print(name)

100
100.05
Soni

In [7]:
# Assign same value to multiple variables.
a = b = c = 50 

print(a)
print(b)
print(c)
print(a, b, c)

50
50
50
50 50 50

In [8]:
# Assign multiple values to multiple variables.
a, b, c = 50, 50, 50 

print(a)
print(b)
print(c)
print(a, b, c)

# Stipulate a single value.
a, b, c = 50

print(a, b, c)

50
50
50
50 50 50

TypeError: cannot unpack non-iterable int object

In [9]:
# View the list of keywords.
import keyword

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
# Create a list with all the pizza names.
pizza = ['Regina', 'Hawaiian', 'Mexican', 'Margarita', 'Marinara']

# Print all the pizza names.
for i in pizza:
    print(i)

Regina
Hawaiian
Mexican
Margarita
Marinara

In [11]:
# This is a comment in Python. It starts with the hash symbol "#".
print("hello world")

hello world

In [12]:
# comment line 1
# comment line 2
# comment line 3
print("hello world")

hello world

In [13]:
""" This is the method of writing comments inside triple quotations.
Any lines between these triple quotations are treated as comments. """

' This is the method of writing comments inside triple quotations.\nAny lines between these triple quotations are treated as comments. '

In [14]:
# Demonstrating the = operator.
a = 10

print(a)

10

In [15]:
# Demonstrating the + operator.
a = 10
a += 5

print(a)

15

In [16]:
# Demonstrating the - operator.
a = 10
a -= 5

print(a)

5

In [17]:
# Demonstrating the * operator.
a = 10
a *= 5

print(a)

50

In [18]:
# Demonstrating the / operator.
a = 10
a /= 5

print(a)

2.0

In [19]:
# Demonstrating the % operator.
a = 10
a %= 5

print(a)

0

In [20]:
# Demonstrating the ** operator.
a = 10
a **= 2

print(a)

100

In [21]:
# Demonstrating the // operator.
a = 10
a //= 5

print(a)

2

In [22]:
# Demonstrating the addition operator.
a = 10
b = 5

print(a + b)

15

In [23]:
# Demonstrating the subtraction operator.
a = 10
b = 5

print(a - b)

5

In [24]:
# Demonstrating the multiplication operator.
a = 10
b = 5

print(a * b)

50

In [25]:
# Demonstrating the division operator.
a = 10
b = 5

print(a / b)

2.0

In [26]:
# Demonstrating the modulus operator.
a = 10
b = 5

print(a % b)

0

In [27]:
# Demonstrating the exponent operator.
a = 9

print(a ** 2)

81

In [28]:
# Demonstrating the floor division operator.
a = 9
b = 5

print(a // b)

1

In [29]:
# Demonstrating the == operator.
a = 10
b = 10

print(a == b)

True

In [30]:
# Demonstrating the != operator.
a = 10
b = 10

print(a != b)

False

In [31]:
# Demonstrating the > operator.
a = 10
b = 5

print(a > b)

True

In [32]:
# Demonstrating the < operator.
a = 10
b = 5

print(a < b)

False

In [33]:
# Demonstrating the >= operator.
a = 10
b = 5

print(a >= b)

True

In [34]:
# Demonstrating the <= operator.
a = 10
b = 5

print(a <= b)

False

In [35]:
# Demonstrating the 'and' operator.
a = 15
b = 20

if a > 10 and b > 15:
    print('a and b satisfies the above statements.')

a and b satisfies the above statements.

In [36]:
# Demonstrating the 'or' operator.
a = 10
b = 0.2

if a > 0 or b > 0:
    print("Either number is greater than 0.")
    
else:
    print("No number is greater than 0.")

Either number is greater than 0.

In [37]:
# Demonstrating the 'not' operator.
x = 10

if not (x > 10):
    print('Yes')
else:
    print('No')

Yes

In [38]:
# Demonstrating the 'in' operator.
x = ['cat', 'dog']

print('cat' in x)

True

In [39]:
# Demonstrating the 'not in' operator.
x = ['cat', 'dog']

print('Monkey' not in x)

True