In [1]:
# Basic lambda example.
example = lambda x: x * 2

example(10)

20

In [2]:
# Basic lambda example: multiple arguments.
example_2 = lambda x, y, z: x * 2 + y - z

example_2(5, 10, 15)

5

In [3]:
# Create a list.
sequence = [10, 2, 8, 7, 5, 4, 3, 11, 0, 1]

# Lambda and filter function.
filter_answer = filter (lambda x: x > 6, sequence) 

list(filter_answer)

[10, 8, 7, 11]

In [4]:
# Create a list.
sequence_2 = [10, 2, 8, 7, 5, 4, 11]

# Lambda and map function.
squared_result = map (lambda x: x*x, sequence_2)

list(squared_result)

[100, 4, 64, 49, 25, 16, 121]

In [5]:
# Combine two values into one with lambda.
full_name = lambda fn, ln: fn.strip().title() + " " + ln.strip().title()

full_name("    vincent", "  van gogh")

'Vincent Van Gogh'

In [7]:
# Import Pandas.
import pandas as pd

# Read a CSV file from the current working directory.
products = pd.read_csv('products.csv')

# View the DataFrame.
products.shape

(3945, 2)

In [8]:
# Write a lambda function to determine the word tin in description column.
products[products['Description'].apply(lambda x: 'tin' in x.lower())]

     StockCode                          Description
99      17090A     LAVENDER INCENSE 40 CONES IN TIN
100     17090D      VANILLA INCENSE 40 CONES IN TIN
101     17091A              LAVENDER INCENSE IN TIN
102     17091J               VANILLA INCENSE IN TIN
112      18007  ESSENTIAL BALM 3.5g TIN IN ENVELOPE
...        ...                                  ...
3540    85232B      SET OF 3 BABUSHKA STACKING TINS
3541    85232D        SET/3 DECOUPAGE STACKING TINS
3620    90037A            TINY CRYSTAL BRACELET RED
3621    90037B          TINY CRYSTAL BRACELET GREEN
3622    90037C           TINY CRYSTAL BRACELET BLUE

[135 rows x 2 columns]