In [1]:
def calculator (a,b): 
    print ('Addition:', a+b)
    print ('Subtraction:', a-b)
    print ('Multiplication:', a*b)
    print ('Division:', a/b)
    return;

In [2]:
calculator (25,5)

Addition: 30
Subtraction: 20
Multiplication: 125
Division: 5.0

In [3]:
# Write an user-defined function.
def f(x):
    y = (x * 2) + 10
    return y

# Stipulate what to calculate.
f(x=3)

16

In [4]:
# Import Pandas.
import pandas as pd

# Read the CSV file from the current working directory.
products = pd.read_csv('products.csv')

# View the DataFrame.
products.shape

(3945, 2)

In [5]:
# Create an user-defined function
def contains_glass(x):
    """ does the product contain glass? """
    y = x.lower()
    return "glass" in y

# View the output.
print(contains_glass(x="Glass bottle"))
print(contains_glass(x="glass bottle"))
print(contains_glass(x="bottle"))

True
True
False

In [6]:
# Use the apply() function.
fc = products['Description'].apply(contains_glass)

# View the DataFrame.
print(fc)

# Filter the DataFrame.
products[fc]

0       False
1       False
2       False
3       False
4       False
        ...
3940    False
3941    False
3942    False
3943    False
3944    False
Name: Description, Length: 3945, dtype: bool

     StockCode                    Description
106     17129F         BLUE GLASS GEMS IN BAG
220      20798          CLEAR MILKSHAKE GLASS
221      20801   LARGE PINK GLASS SUNDAE DISH
222      20802  SMALL GLASS SUNDAE DISH CLEAR
223      20803   SMALL PINK GLASS SUNDAE DISH
...        ...                            ...
3866    90199D  5 STRAND GLASS NECKLACE AMBER
3886    90209A  PURPLE ENAMEL+GLASS HAIR COMB
3887    90209B   GREEN ENAMEL+GLASS HAIR COMB
3888    90209C    PINK ENAMEL+GLASS HAIR COMB
3927  DCGS0003            BOXED GLASS ASHTRAY

[171 rows x 2 columns]